@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$bg-clr-main: #214d86;
$bg-clr-header: #214667;
$bg-transparent: rgba(255, 255, 255, 0.122);
$gray-clr: #666666;
$font-main: 'Quicksand', sans-serif;

$bg-color-d-sunset: linear-gradient(rgb(174, 138, 144) -5.25%, rgb(32, 34, 85) 74.35%);


$breakpoints: (
  'x-small': 350px,
  'small': 560px,
  'medium': 720px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}