@import './var';

header {
  background-color: $bg-transparent;
  padding: 10px;
  input {
    border: none;
    outline: none;
    font-family: $font-main;
    width: 290px;
    @include respond-to('small') {
      width: 100%;
    }
    &::placeholder {
      font-family: $font-main;
      color: $gray-clr;
    }
  }
  .locations {
    border-top: 1px solid #ccc;
    position: absolute;
    top: 33px;
    left: 0;
    background: #f7f7f7f8;
    color: $gray-clr;
    min-width: 290px;
    max-width: 290px;
    padding: 10px;
    z-index: 10;
    display: none;

    &.open {
      display: flex;
    }
    p {
      margin-bottom: 5px;
      font-size: 14px;
      padding: 5px;
      border-bottom: 1px solid #ccc;
      transition: all 0.1s linear;
      &:last-child {
        border: none;
      }
      &:hover {
        cursor: pointer;
        color: #000000;
        transform: scale(1.01);
      }
    }
  }
  .close_icon {
    top: 5px;
    right: 5px;
    position: absolute;
  }
  .select {
    border: none;
    outline: none;
    padding: 8px 10px;
    background-color: #ffffff1f;
    border-radius: 4px;
    color: #ebebeb;
    option {
      color: #000;
      font-size: 12px;
      padding: 5px;
    }
  }
}