@import './var';

.main {
  font-family: $font-main !important;
  color: #fff;
  background: url('../img/bg/partlysunny_day.webp') no-repeat;
  background-size: 100%;
  span {
    display: block;
  }
  h5 {
    font-weight: 600;
    margin-bottom: 0;
  }
  .time {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
  }
  img {
    width: 100px;
    object-fit: cover;
  }
  .temp {
    font-size: 50px;
  }
  .phrase {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
  }
}